<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=nggo9kP5QX">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=nggo9kP5QX">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=nggo9kP5QX" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png?v=nggo9kP5QX" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=nggo9kP5QX" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=nggo9kP5QX" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=nggo9kP5QX" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=nggo9kP5QX">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=nggo9kP5QX" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=nggo9kP5QX">
    <meta name="apple-mobile-web-app-title" content="Humorously Sad">
    <meta name="application-name" content="Humorously Sad">
    <meta name="msapplication-TileColor" content="#a20d0d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=nggo9kP5QX">
    <meta name="theme-color" content="#a20d0d">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Averia+Libre:400,700' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="/assets/stylesheets/mobile.css">
	<link rel="stylesheet" href="/assets/stylesheets/desktop.css">
  <link rel="stylesheet" href="infinite-jekyll-master/spinner.css" >
</head>
