<img id="header-banner" src="/assets/images/hs_header_banner.jpg" />
<div class="jumbotron visible-xs visible-sm">
	<img id="profile-picture" src="/assets/images/profile-100x100.png" />
	<div class="header-title-wrapper">
	  <h1>Humorously Sad</h1>
	  <p>Some things are just so sad, <br/>they're hilarious.</p>
	</div>	  
</div>
<div class="jumbotron visible-md visible-lg">
	<img id="profile-picture" src="/assets/images/warning_fb_profile.png" />
	<div class="header-title-wrapper">
	  <h1>Humorously Sad</h1>
	  <p>Some things are just so sad, <br/>they're hilarious.</p>
	</div>	  
</div>