<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '206089999733168',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    {% include navbar.html %}
    <div id="body" class="page-content container-fluid">
      {% include jumbotron.html %}
      <div class="wrapper">
<!-- Body -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6940674424150679"
     data-ad-slot="4071588142"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
